
.wallpaperabout{
  background: url(./public/mesh-757.png) repeat center ;
  background-size: cover;
}
/* Container */
.about-container {
  max-width: 1100px;
  margin: auto;
  gap: 4rem;
  margin-bottom:-5rem;
}


.about-container h1 {
  font-size: 40px;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}


.about-section {
  padding: 35px 30px;
  margin-bottom: 110px;
  border-radius: 14px;
  box-shadow: var(--secondtext) 0 1px 1px;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

.about-section:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 35px var(--ws);}
/* Section Titles */
.about-section h2 {
  font-size: 24px;
  margin-bottom: 15px;

  border-left: 7px solid var(--secondtext);
  padding-left: 15px;
}

/* Paragraph Text */
.about-section p {
  font-size: 17px;
  line-height: 1.7;
color: var(--textcolor);
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .about-container {
    padding: 60px 16px;
  }

  .about-container h1 {
    font-size: 32px;
  }

  .about-section h2 {
    font-size: 20px;
  }

  .about-section p {
    font-size: 15px;
  }
}
