/* :root{
    --back:#cbc1ae46;
    --textcolor:#3c5b6f;
    --secondback:#ad946d;
    --secondtext:#624301;
    --ws:whitesmoke;
    --buttsize:1rem 3rem;
    --buttradius:12px;
}
body{
    background:var(--back);
    color:var(--textcolor);
} */


 :root{
    --back:#9797ff33;
    --textcolor:#432c2c;
    --secondback:#212f96cd;
    --secondtext:#dadada;
    --buttbac:rgba(0, 0, 0, 0.868);
    --ws:whitesmoke;
    --buttsize:1rem 3rem;
    --buttradius:12px;
}
body{
    background:var(--back);
    color:var(--textcolor);
}