/* :root{
    --back:#cbc1ae46;
    --textcolor:#3c5b6f;
    --secondback:#ad946d;
    --secondtext:#624301;
    --ws:whitesmoke;
    --buttsize:1rem 3rem;
    --buttradius:12px;
}
body{
    background:var(--back);
    color:var(--textcolor);
} */


 :root{
    --back:#30303816;
    --textcolor:#141414;
    --secondback:#4459f5cd;
    --secondtext:#dadada;
    --ws:whitesmoke;
    --buttsize:1rem 3rem;
    --buttradius:12px;
}
body{
    background:var(--back);
    color:var(--textcolor);
}